# Atharva Pawar - Comps-A [Batch-D]

BDA - EXP - 4 : MongoDB CRUD Cmds

In [10]:
# pip install pymongo
import pymongo

client = pymongo.MongoClient("mongodb://localhost:27017/")

In [11]:
db = client['GTA']
collection = db['mySampleCollection']

# Insert

In [12]:
new_student = {'_id':1, 'name':'Omkar','location':'mumbai', 'Marks': 90, 'Pass':'No'}
collection.insert_one(new_student)

# find()

In [9]:
all_students = collection.find()
for item in all_students:
    print(item)

{'_id': 5, 'name': 'Gtapawar', 'location': 'pune', 'Marks': 34}
{'_id': 1, 'name': 'Omkar', 'location': 'mumbai', 'Marks': 46}

In [7]:
specific_student = collection.find_one({'name': 'Omkar'})
print(specific_student)

{'_id': 1, 'name': 'Omkar', 'location': 'mumbai', 'Marks': 90}

# update_one() or update_many()

In [8]:
# Update a single document
collection.update_one({'name': 'Omkar'}, {'$set': {'Marks': 46}})

In [ ]:
# Update multiple documents
collection.update_many({'Marks': {'$lt': 34}}, {'$set': {'status': 'pass'}})

In [29]:
all_students = collection.find()
for item in all_students:
    print(item)

{'_id': 1, 'name': 'Gtapawar', 'location': 'pune', 'Marks': 341234}
{'_id': 2, 'name': 'Gtapawar1', 'location': 'pune1', 'Marks': 342}
{'_id': 3, 'name': 'Gtapawar2', 'location': 'pune2', 'Marks': 342}

# Delete

In [24]:
collection.delete_one({'Marks': 34})

In [28]:
collection.delete_many({'Marks': {'$lt': 342}})

In [31]:
# Count docs
print(collection.count_documents({}))

3